img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  padding: 5px;
  margin: 5px;
  background: rgb (255,166,0);
  list-style-type: none;
  }
  
.label {
  font-weight: bold;
  }
  
.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
  }
  
.form-group {
  margin-bottom: 5px;
  text-align: center;
  }

body {
  background-color: rgba(255, 184, 51, 0.671);
  }


.left {
  margin-left: 200px;
}

.right {
  margin-left: 100px;
}

.float-child {
    width: 50%;
    float: left;
}  

h1, h2 {
  text-align: center;
  }

  input[type="radio"]:checked{
    visibility:hidden;
}

.wrapper {
  margin: 20%;
}
