img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgba(255, 184, 51, 0.671);
  }

.container {
  width: 650px;
  padding: 25px;
  margin: auto;
}

li {
  padding: 5px;
  margin: 5px;
  background: rgb (255,166,0);
  list-style-type: none;
  }

.left, .right {
  position: relative;
  height: 100px;
  padding: 20px;
  margin-bottom: 75px;
}

.float-child {
    float: left;
}  

h1, h2 {
  text-align: center;
  }

  input[type="radio"]:checked{
    visibility:hidden;
}

.wrapper {
  width: 600px;
  padding: 20px;
  margin: auto;
}

.label {
  font-weight: bold;
  }
  
.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
  }
  
.form-group {
  margin-bottom: 5px;
  text-align: center;
  }